<%= form_for(@trouble_code) do |f| %>
  <% if @trouble_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trouble_code.errors.count, "error") %> prohibited this trouble_code from being saved:</h2>

      <ul>
      <% @trouble_code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :make %><br>
    <%= f.text_field :make %>
  </div>
  <div class="field">
    <%= f.label :error %><br>
    <%= f.text_field :error %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
